@model Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<form  method="post" asp-action="Atualizar">
    <input type="hidden" asp-for="Id">

     <p>
        <label for="Login">Login</label>
        <input type="text" name="Login" asp-for="Login">
    </p>
     <p>
        <label for="Senha">Senha</label>
        <input type="text" name="Senha" asp-for="Senha">
    </p>
    <p>
        <label for="DataNascimento">Data de Nascimento</label>
        <input type="date" name="DataNascimento"  asp-for="DataNascimento">
    </p>
    
    <input type="submit" value="Atualizar">
     <p style="color:red"> @ViewBag.MensagemSucesso</p> 
</form>