@model List<Usuario>

@{
    ViewData["Title"] = "Lista de Usuario";
}
<table  class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Login</td>
            <td>Senha</td>
            <td>Data de nascimento</td>
            <td>Operações</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Usuario u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Login</td>
                <td>@u.Senha</td>
                <td>@u.DataNascimento.ToShortDateString()</td>
                <td><a href="/Usuario/Editar/@u.Id">Editar</a> <a href="/Usuario/Remover/@u.Id" onclick="confirm('confirma a exclusão?');">Apagar</a> </td>
            </tr>
        }
        <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        </ul>
    </tbody>
</table>